@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* :root {
    --reaction
} */

body {
  color: aliceblue;
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  font-weight: 700;
}

.btn {
  align-items: center;
  background: hsl(224, 30%, 27%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: flex;
  font-size: 1.25rem;
  height: 3.5rem;
  justify-content: center;
}

.circle {
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  width: 150px;
}

#number {
  font-size: 3rem;
  font-weight: 800;
}

.pill {
  align-items: center;
  background: yellow;
  border: 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  height: 50px;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 5px 10px;
}

#result {
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 0% 0% 10% 10%;
  display: flex;
  flex-direction: column;
  height: 45vh;
}

#result-title {
  margin: 20px;
}
#result-sub {
  font-size: 1.5rem;
  margin: 12px;
}

#summary {
  /* color: black; */
  font-size: 1.25rem;
  height: 100%;
  margin: 0px 25px;
}

#sum-title {
  margin: 20px 0px;
}

#wrapper {
  min-width: 320px;
}

.sample-heading {
  padding: 1em;
  border: 0.25em solid;
  position: relative;
}

.sample-heading::before,
.sample-heading::after {
  content: '';
  display: block;
  position: absolute;
  background: #fff;
}

.sample-heading::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1em;
  right: 1em;
}

.sample-heading::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}

.sample-heading .heading {
  position: relative;
  z-index: 1;
}
